In [2]:
using DataFrames

In [3]:
df = readtable("scores.csv") # read CSV file
head(df, 10) # show 10 rows

10×3 DataFrames.DataFrame
│ Row │ ID │ exam1 │ exam2 │
├─────┼────┼───────┼───────┤
│ 1   │ 1  │ 31    │ 61    │
│ 2   │ 2  │ 70    │ 54    │
│ 3   │ 3  │ 61    │ 36    │
│ 4   │ 4  │ 77    │ 91    │
│ 5   │ 5  │ 46    │ 29    │
│ 6   │ 6  │ 40    │ 59    │
│ 7   │ 7  │ 80    │ 99    │
│ 8   │ 8  │ 67    │ 52    │
│ 9   │ 9  │ 80    │ 72    │
│ 10  │ 10 │ 1     │ 4     │

In [4]:
# single column
df[:exam1]
# df[2]
# df[:,2] # like a normal array

100-element DataArrays.DataArray{Int64,1}:
 31
 70
 61
 77
 46
 40
 80
 67
 80
  1
 23
 79
 16
  ⋮
 95
 15
 72
 45
  1
 50
 79
 20
 97
 15
 96
 73

In [5]:
# multi columns
df[[:exam1, :exam2]]

100×2 DataFrames.DataFrame
│ Row │ exam1 │ exam2 │
├─────┼───────┼───────┤
│ 1   │ 31    │ 61    │
│ 2   │ 70    │ 54    │
│ 3   │ 61    │ 36    │
│ 4   │ 77    │ 91    │
│ 5   │ 46    │ 29    │
│ 6   │ 40    │ 59    │
│ 7   │ 80    │ 99    │
│ 8   │ 67    │ 52    │
│ 9   │ 80    │ 72    │
│ 10  │ 1     │ 4     │
│ 11  │ 23    │ 4     │
⋮
│ 89  │ 95    │ 97    │
│ 90  │ 15    │ 2     │
│ 91  │ 72    │ 88    │
│ 92  │ 45    │ 45    │
│ 93  │ 1     │ 9     │
│ 94  │ 50    │ 39    │
│ 95  │ 79    │ 88    │
│ 96  │ 20    │ 26    │
│ 97  │ 97    │ 63    │
│ 98  │ 15    │ 23    │
│ 99  │ 96    │ 92    │
│ 100 │ 73    │ 93    │

In [6]:
# calculate statistical quantity
describe(df)

ID
Min      1.0
1st Qu.  25.75
Median   50.5
Mean     50.5
3rd Qu.  75.25
Max      100.0
NAs      0
NA%      0.0%

exam1
Min      1.0
1st Qu.  19.0
Median   51.5
Mean     47.64
3rd Qu.  71.0
Max      97.0
NAs      0
NA%      0.0%

exam2
Min      0.0
1st Qu.  27.0
Median   49.0
Mean     49.97
3rd Qu.  76.0
Max      99.0
NAs      0
NA%      0.0%

In [7]:
# add columns
df[:zscore1] = zscore(df[:exam1])
head(df)

6×4 DataFrames.DataFrame
│ Row │ ID │ exam1 │ exam2 │ zscore1    │
├─────┼────┼───────┼───────┼────────────┤
│ 1   │ 1  │ 31    │ 61    │ -0.589928  │
│ 2   │ 2  │ 70    │ 54    │ 0.792715   │
│ 3   │ 3  │ 61    │ 36    │ 0.473644   │
│ 4   │ 4  │ 77    │ 91    │ 1.04088    │
│ 5   │ 5  │ 46    │ 29    │ -0.0581419 │
│ 6   │ 6  │ 40    │ 59    │ -0.270856  │

In [8]:
# delete column
delete!(df, :ID)
head(df)

6×3 DataFrames.DataFrame
│ Row │ exam1 │ exam2 │ zscore1    │
├─────┼───────┼───────┼────────────┤
│ 1   │ 31    │ 61    │ -0.589928  │
│ 2   │ 70    │ 54    │ 0.792715   │
│ 3   │ 61    │ 36    │ 0.473644   │
│ 4   │ 77    │ 91    │ 1.04088    │
│ 5   │ 46    │ 29    │ -0.0581419 │
│ 6   │ 40    │ 59    │ -0.270856  │

In [9]:
# rename column
rename!(df, :exam1, :Exam1)
head(df)

6×3 DataFrames.DataFrame
│ Row │ Exam1 │ exam2 │ zscore1    │
├─────┼───────┼───────┼────────────┤
│ 1   │ 31    │ 61    │ -0.589928  │
│ 2   │ 70    │ 54    │ 0.792715   │
│ 3   │ 61    │ 36    │ 0.473644   │
│ 4   │ 77    │ 91    │ 1.04088    │
│ 5   │ 46    │ 29    │ -0.0581419 │
│ 6   │ 40    │ 59    │ -0.270856  │

In [10]:
# apply function to column-wise
colwise(mean, df)

3-element Array{Any,1}:
 [47.64]
 [49.97]
 [-4.44089e-18]